/* Navbar.css */

.navbar {
  background-color: #3498db;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
}
